﻿@{

    string GetEmail()
    {
        return "a@a.pl";
    }
    ViewBag.Title = "About";
    string email = GetEmail();
    var dict = new Dictionary<string, int>();
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@if (email.EndsWith(".pl"))
{
    <p>Użyj tego obszaru aby dać dodatkowy feedback!</p>
}
else
{
    <p>Use this area to provide additional information. @email</p>
}
@section NavigationLinks {
    <a href="https://pl.lmgtfy.com/?q=help" target="_blank">Pomoc</a>
}

@section scripts {
    <script type="text/javascript" language="javascript">
        alert("ok");
    </script>
}