﻿@model MyFirstWebApplication.ViewModels.NewExchangeRateViewModel
@{
    ViewBag.Title = "Add";
}

<h2>Dodawanie nowego kursu wymiany</h2>

@*<form action="/ExchangeRates/Add"></form>*@

@using(Html.BeginForm("Add", "ExchangeRates", FormMethod.Post)) 
{
    <p>@Html.LabelFor(m=>m.CurrencyName)</p>
    <p>@Html.TextBoxFor(m => m.CurrencyName)</p>
    <p>@Html.LabelFor(m=>m.CurrencyCode)</p>
    <p>@Html.TextBoxFor(m=>m.CurrencyCode)</p>

    <p>@Html.LabelFor(m=>m.Rate)</p>
    <p>@Html.TextBoxFor(m => m.Rate)</p>
    <p>@Html.LabelFor(m=>m.Multiplier)</p>
    <p>@Html.TextBoxFor(m=>m.Multiplier)</p>

    <input type="submit" value="Dodaj kurs wymiany"/>
}