﻿@model MyFirstWebApplication.Models.ExchangeRate<string>
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
@if (Model == null)
{
    <p>Nieprawidłowy kod waluty!</p>
}
else
{
    <div>
        <p>nazwa waluty:</p><p>@Model.CurrencyName</p><br />
        <p>kod waluty:</p><p>@Model.CurrencyCode</p><br />
        <p>Kurs wymiany:</p><p>@Model.Rate</p><br />
        <p>Mnożnik:</p><p>@Model.Multiplier</p>
    </div>
}
