﻿@model List<MyFirstWebApplication.Models.ExchangeRate<string>>

@{
    ViewBag.Title = "Exchange rates list";
}

<h2>Exchange rates list</h2>
@Html.ActionLink("Dodaj kurs wymiany", "Add")
<table>
    <thead>
    <tr>
        <th>Nazwa waluty</th>
        <th>Kod waluty</th>
        <th>Kurs</th>
        <th>Mnożnik</th>
    </tr>
    </thead>
    <tbody>
    @{
        int i = 0;
    }
    @foreach (var ex in Model)
    {
        string style = i % 2 == 0 ? "background-color: white" : "background-color: lightgray";
        <tr style="@style">
            <td>@ex.CurrencyName</td><td>@Html.ActionLink(ex.CurrencyCode, "Details", new { currencyCode = ex.CurrencyCode})</td><td>@ex.Rate</td><td>@ex.Multiplier</td>
        </tr>
        i++;
    }
    </tbody>
</table>
